@charset "UTF-8";
@import 'font-awesome.min.css';
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,700,300");
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@font-face {
  font-family: 'goodtimes';
  src: url('../../assets/fonts/goodtimes.ttf'); /* IE9 Compat Modes */
}
/*
	Archetype by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/
/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
  vertical-align: baseline;
  font-family: "Open Sans";
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

h2.sponsorcat {
  padding: 0 3em 0 0;
}

/* Box Model */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Basic */
@-ms-viewport {
  width: device-width;
}

@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px;
  }
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

/* Generic stuff */
body {
  color: #fff;
  background-color: #5e6875;
}

section {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont,sans-serif;
}

a {
  color:#abd8ff !important;
}

a:hover {
  color:rgb(87, 224, 255) !important;
  text-decoration: underline;
}

footer a {
  color:#2a069e !important;

}

footer a:hover {
  color:#14034b !important;
  text-decoration: underline;
}

button > a {
  text-decoration: none;
  color: inherit !important;
}

button > a:hover {
  text-decoration: none;
  color: inherit !important;
}

/* Banner */
#banner {
  background-image: url('../../images/banner-2022.png');
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #202122;
  color: white;
  height: 100vh;
  position: relative;
}

#logo {
  height: calc(1vw + 32px);
  width: calc(1vw + 32px);
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
}

#theme {
  font-family: 'goodtimes';
  font-size: calc(32px + 1vw);
}

#banner-content {
  margin-left: 5%;
}

#banner-description {
  margin-top: 3%;
  width:50%;
}

#date {
  color: white;
}

#ticket {
  margin-top: 3%;
  padding: 10px 20px 10px 20px;
  background: #91c601;
  border: 2px solid #91c601;
  box-sizing: border-box;
  border-radius: 100px;
  transition: all 0.3s ease 0s;
    color: #000000;
  font-weight: bold;
}

#ticket:hover {
  box-shadow: -3px 7px #bc96ba;
  transform: translate(3px, -5px) ;
}

#signup {
  margin-top: 3%;
  margin-left: 3%;
  padding: 10px 20px 10px 20px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: #202122;
  transition: all 0.3s ease 0s;
}

#signup:hover {
  box-shadow: -3px 7px #91c601;
  transform: translate(3px, -5px) ;
}


#countdown {
  background: #91c601;
  font-family: courier;
  font-size: 64px;
  border-radius: 10px;
  padding: 10px;
}

.event-socials-container {
  position: absolute;
  bottom: 5.5%;
  width: 100%;
}

.event-socials {
  text-align: center;
}

.event-social.fab {
  text-decoration: none;
  border-radius: 7px;
  line-height: 48px;
  vertical-align: top;
  margin-left: 2.5%;
  margin-right: 2.5%;
  font-size: calc(32px + 0.5vw);
  color: white;
}

#hashtag {
  font-size: 32px;
  font-weight: bold;
}

.event-social {
  color: #FFFFFF !important;
  transition: all 0.3s ease 0s;
}

.event-social:hover {
  color: #ffffff !important;
  transform: translateY(-5px);
}


@media only screen and (max-width: 800px) {
  #banner {
    background-image: url('../../images/banner-2022.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
    position: relative;
  }
  
  #banner-description {
    width:75%;
  }
}

/* About */
#about {
  /* background-image: -moz-linear-gradient(top, rgba(21, 27, 33, 0.6), rgba(21, 27, 33, 0.6)), url("images/overlay.png"), -moz-linear-gradient(45deg, #585481, rgba(86, 13, 125, 0.102)), url("../../images/about.jpg"); */
  background-image: -webkit-linear-gradient(top, rgba(20, 25, 29, 0.225), rgba(28, 48, 68, 0.647)), url("images/overlay.png"), -webkit-linear-gradient(45deg, #43415d40, #ACEC00), url("../../images/about.jpg");
  /* background-image: -ms-linear-gradient(top, rgba(21, 27, 33, 0.6), rgba(21, 27, 33, 0.6)), url("images/overlay.png"), -ms-linear-gradient(45deg, #585481, rgba(86, 13, 125, 0.65)), url("../../images/about.jpg"); */
  /* background-image: linear-gradient(top, rgba(21, 27, 33, 0.6), rgba(21, 27, 33, 0.6)), url("images/overlay.png"), linear-gradient(45deg, #585481, rgba(86, 13, 125, 0.65)), url("../../images/about.jpg"); */
  color: white;

  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#about-img {
  width: 100%;
}

/* Booklet */

.carousel .item img
{
   width: 50%;
   margin: auto;
}

.carousel .item 
{
   background-color:#212223 ;
}

#booklet
{
  background-color: #212223;
}


/* Tracks */

#tracks {
  background-color: #212223;
  color: white;
}

.track-section {
  padding-top: 5%;
  text-align: center;
  transition: all 0.3s ease 0s;
}

.track-section:hover {
  background-color: #91c601;
}
.track-description-selected {
  background-color: #91c601;
}

#track-description {
  margin-top: 5%;
  margin-left: 0%;
  width: 100%;
  text-align: center;
}

.track-image {
  height: 10em;
}


/* Schedule */
#schedule {
  background-color:#212223;
  color: rgba(255, 255, 255, 0.776);
  min-height: 60vh;
}

#schedule-wrapper {
  margin-top: 3%;
}
 
#eventschedule {
  margin-top: 3%;
}

.schedule-day {
  border: 1px solid rgb(156, 156, 156);
  background-color: inherit;
  color: inherit;
  min-width: 10vw;
  padding: 5px;
  border-radius: 3px;
  transition: all 0.3s ease 0s;
}

.schedule-day:hover {
  background-color: #212223;
  color: inherit;
}

th {
  font-weight: bold !important;
}

.schedule-day.disabled {
  background-color: #91c601;
  color: inherit;
  border: 1px solid #212223;
}

/* Workshops */
.workshop-section {
  padding-top: 5%;
  text-align: center;
  transition: all 0.3s ease 0s;
}

.workshop-image {
  height: 10em;
}

/* Prizes */
#prizes {
  background-color: #212223;
  color: white;
}

.category, .raffle-prize {
  border-radius: 25px;
  background-color: #91c601;
  color: #000000;
  font-weight: bold;
  box-shadow: -5px 7px 12px -3px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
}

.raffle-prize {
  background-color: #91c601; 
}

.raffle-prize > img {
  width: 80%;
}

.category-winner {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color:#91c601;
  color: #000000;
  font-weight: bold;
}

.prize-icon {
  font-size: 128px;
}

@media only screen and (max-width: 800px) {
  .category-winner {
    width: 80%;
  }  
}

/* Submissions */
#submissions {
  background-color: #212223;
  color: white;
}

/* Sign up section */

#signup-section {
  background-color: #212223;
  color: white;
}

.signup-step {
  margin-top: 2%;
}

span.code {
  font-weight: bold;
  font-family: "Inconsolata";
}

/* Eligibility */

#eligibility {
  background-color: #212223;
  color: white;
}

#eligibility-list {
  margin-top: 3%;
}

.list-item {
  padding-top: 0.5%;
}

.note-star {
  color: rgb(255, 134, 225);
}

/* Further Information */
#further-info {
  background-color:#212223;
  color: white;
}

/* FAQ */
#faq {
  background-color:#212223;
  color: rgba(255, 255, 255, 0.776);
}

/* Sponsors */
#sponsors {
  width: 100%;
  background-color:#212223;
  color: rgba(255, 255, 255, 0.776);
}

.sponsor-tier {
  font-weight: bold;
  margin-top: 5%;
}

.sponsor-img {
  padding-top: 1%;
}

/* Footer */
#footer {
  background-color: #91c601;
  color: #000000;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}

.social.fab {
  text-decoration: none;
  border-radius: 7px;
  line-height: 48px;
  vertical-align: top;
  margin-left: 5%;
  margin-right: 5%;
  font-size: calc(32px + 0.5vw);
  color: white;
}

.social {
  color: #000000 !important;
  transition: all 0.3s ease 0s;
}

.social:hover {
  color: #faff63 !important;
  transform: translateY(-5px);
}

#copyright {
  margin-top: 5%;
}

